/* CANVAS */

.canvas-container {
    grid-row: 1;
    text-align: center;
    border-radius: 10px;
}

#meme-canvas {
    vertical-align: top;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* TOOLS */

.tools-container {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tools-container > * {
    margin: 10px;
}

.tools-container > input {
    align-self: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.tools-container > h1 {
    align-self: center;
    margin-bottom: 20px;
}

.tools-container > * > button {
    min-width: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #111111cc;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

* body > * button:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: rgb(244, 244, 244);
    color: #ffffff;
}

#font-picker {
    align-self: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.font-colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 0;
}

.font-controls > p {
    margin-inline-end: 10px;
}

.font-colors > * {
    margin: 5px;
}

.font-colors > * > input {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.2);
    border-radius: 5px;
    padding: 10px;
}

/* ABOUT */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.about-container > * {
    margin: 10px;
}

.about-container > h1 {
    margin-top: 30px;
    align-self: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}
.about-container > * a {
    padding-inline-start: 10px;
    text-decoration: none;
    color: var(--color-primary);
}

.meme-container > * p {
    color: #767676;
}

/* BTNS */

.element-controls > button {
background-color: #3740ffd6;
}

/* hover */
.element-controls > button:hover {
background-color: #3740ff;
}


#addBtn {
background-color: #4CAF50;
}

#delBtn {
background-color: #f44336;
}

.download-share > button:first-of-type {
    background-color: #4CAF50;
}


.download-share > button:nth-of-type(2) {
    background-color: #9f57fe;
}

.download-share > button:last-of-type {
    background-color: #3740ffd6;
}

.gallery-controls > button:first-of-type {
    background-color: #3740ffd6;
}

.gallery-controls > button:first-of-type:hover {
    background-color: #3740ff;
    color: #fff;
}