/* myMemes */

.my-memes-container {
    display: none;
    text-align: center;
}

.my-memes-gallery {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    padding: 20px;
}

.meme-preview {
    width: min-content;
    height: max-content;
    justify-self: center;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
}

.meme-preview > button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    border-radius: 1rem;
    color: var(--color-primary);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    margin-top: 10px;
    width: 90px;
}

.meme-preview > button:hover {
    transition: background-color 0.4s ease-in-out;
    background-color: lightcoral;
    color: #fff;
}

.meme-preview > canvas {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
